<h1>プレイヤー変更</h1>

<%= form_tag action: :changePlayer do %>
	<%= render 'selectPlayers', reteDefs: @rateStrings, custom_rate: @custom_rate,players_all: @players_all, player_ids: @player_ids, total_scores: @total_scores %>

	<%= button_tag 'プレイヤー変更' , data: {disable_with: '送信中...'} , class: 'sqr_button'%>

<% end %>


<script>

var etc_radio = document.getElementById('rate_0')
var input_rate = document.getElementById('inputRateId')


if(etc_radio.checked == false){
	input_rate.disabled = true;
}


function radioRateChanged(){

	if (etc_radio.checked){
		console.log('rate_0 checkd')
		input_rate.disabled = false; // ナンバー入力フィールドを有効にする
	}else{
		console.log('rate_0 uncheckd')
		input_rate.disabled = true; // ナンバー入力フィールドを無効にする
	}
}

</script>