// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.userTop{
	font-size: 7vmin;
}


.userTopName{
	font-size: 12vmin;
	font-weight: bold;
	color: red;
}


.userTop ul{
	border: 5px solid gray;
	background-color: lavender;
	border-radius: 20px;
	list-style: none;

}

.userTop ul li{
	font-size: 7vmin;
	line-height: 1.5;
	padding: 0.5em 0;

}