// Place all the styles related to the room controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.room{
	font-size: 4vmin;
}

.room h1{
	font-size: 7vmin;
}

.new_game {
	font-size: 7vmin;
	text-align: center;
}

@keyframes anime{
0%{transform:scale(.95); opacity:1}
90%{opacity:.1}to{transform:scale(1.2,1.5); opacity:0}
}

.new_game {
  position: relative;
  width: 80%;
  margin: 100px auto;
  transition: .2s;
}
.new_game:before, .new_game:after {
  content: "";
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
  top: 3px;
  left: 0;
  border-radius: 32px;
  background: #ffaaae;
  border: 1px solid #ff999e;
  transform: translate3d(0,0,0);
}
.new_game:before {
  animation: anime 2s ease-out infinite;
}
.new_game:after {
 animation: anime 2s ease-out 1s infinite;
}

.new_game a {
  display: block;
  position: relative;
  top: 3px;
  padding: 20px 0;
  border-radius: 32px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background: #80120d;
}
.new_game a:after {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: #c81c14;
  border-radius: 32px;
  transition: .2s;
  transform: translate3d(0,0,0);
}
.new_game span {
  display: block;
  position: relative;
  top: -3px;
  z-index: 2;
  font-family: sans-serif;
  transition: .2s;
}
.new_game span:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 30px;
  width: 8px;
  height: 8px;  
  margin: -4px 0 0 0;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  transform: translateX(5px) rotate(45deg);
  transition: .3s .1s;
}

.new_game a:hover {
  top: 3px;
}
.new_game a:hover:after {
  top: 0;
  background: #e00e18;
}
.new_game a:hover span {
  top: 0;
}
.new_game a:hover span:after {
  right: 27px;
}



/*
  スコア一覧
*/

.resultScore {
	table-layout: fixed;
	text-align: center;
	border-collapse: collapse; /* 一重線 */
	border: 2px solid gray;
	width: 100%;

}

.resultScore tr{
	border: 1px solid gray;
  height: 12vmin;
}

.resultScore th{
	border: 1px solid gray;
	font-size: 4vmin;
}

.resultScore td{
	border: 1px solid gray;
}

.tableTime{
	width: 15%;
	font-size: 3vmin;
}
.tableNum{
	width: 8%;
	font-size: 3vmin;
}

.resultTitleLine{
	background: #dcdcdc;

}
.resultTotalLine{
	background: lightblue;
}


/*
  ルームフッター
*/

.room_footer {
  font-size: 7vmin
}

/*
  ルームヘッダー
*/
.room_header {
  width: 96%;
  display: flex;
  position: fixed;
  background: rgba(0,0,0, 0.3);
  height: 12vmin;

}

.room_header a{
  text-decoration:none;
  color: black;
}


.room_header_icon{
  color: red;
  font-size: 12vmin;
  margin: 0 2vmin 0 2vmin;
}


/*
  ルームメニュー
*/

.room_navi {
  width: 100%;
  height: 12vmin;
  margin: 0;
  padding: 0;
  background: #9fb7d4;


}

.room_navi .nav {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;

}

.room_navi .nav li {
  position: relative;
  width: 400px;
  list-style: none;
  box-sizing: border-box;
  border-left: 1px solid #eee;
}
.room_navi .nav li a {
  display: block;
  width: 100%;
  height: 12vmin;
  text-align: center;
  color: #fff;
  font-size: 4vmin;
  font-weight: bold;
  background: #9fb7d4;
  box-sizing: border-box;
  text-decoration: none;
  padding: 3vmin 0 3vmin 0;

}

.room_navi .nav li:first-child {
  border-left: 1px solid #eee;
}

.room_navi .nav li:last-child {
  border-right: 1px solid #eee;
}

.room_navi .nav > li:hover > a {/*layer-1*/
  color: orange;
  background: #afc6e2;
}

.room_navi .new_icon::before{
  content: 'New';
  font-size: 4vmin;
  color: red;
  position: absolute;
  top: 0px;
  left: 0vw;

  width: 50px;
  height: 50px;
  display: inline-block;
  animation: Flash 2s infinite;
}

@keyframes Flash{
  50%{
    opacity: 0;
  }
}

.new_icon_after::after{
  content: 'New';
  color: red;

  display: inline-block;
  animation: Flash 2s infinite;
}

.help_popup{
  display: none;
  width: 80%;
  position: fixed;
  top: 100px;
  left: 100px;
  padding: 16px;
  border-radius: 5px;
  background: #33cc99;
  color: #fff;
  font-weight: bold;
  text-align: left;
  &:after{
    content: "\A\A※表示を続けるにはクリックまたはタップし続けて下さい";
    white-space: pre;
    font-size: 80%;
  }
}

.help{
  display: block;
  &:after{
    content: "？";
    font-size: 80%;
    color: white;
    border: 1px solid green;
    background-color: green;
    border-radius: 10px;
    padding: 0 0.5vmin;
    margin: 0 0.5vmin;
  }
  &:active + .help_popup{
    display: block;
  }
}

.no_paid_cell{
  background-color: wheat;
}

.table_legend{
  margin: 0.5em 0;
  > p {
    margin: 0.1em 0;
    > span {
      border:1px solid gray;
      margin-right: 0.5em;
    }
  }
}
