<div class='playersocred'>

<h1>プレイヤー個人成績</h1>

<h2>
	<%= link_to '個別成績', action: :scored %>
</h2>

<h2>
	<%= link_to '対戦成績', action: :scoredvs %>
</h2>

<br>
<hr>

<h2>
	<%= link_to 'ルームトップに戻る', room_path(params[:g_idname]) %>
</h2>

</div>