<% if type == 'currency' %>
	<% str = number_to_currency(number, unit:'', precision: 0, format: '%n %u') %>
<% else %>
	<% str = number.to_s %>
<% end %>

<% if number >= 0 %>
	<%= str %>
<% else %>
	<span class='minus_number'><%= str %></span>
<% end %>



